In [77]:
# Importing libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [78]:
# Loading the csv data file
Patient_data = pd.read_csv('heart_disease_data.csv')
Patient_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [79]:
# Printing last 5 rows
Patient_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [80]:
# Checking the total number rows and columns
Patient_data.shape

(303, 14)

In [81]:
# Getting info about the data
Patient_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [82]:
# Checking for missing or null values
Patient_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [83]:
# Dropping the null values and checking the data again
Patient_data = Patient_data.dropna()
Patient_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [84]:
# Checking the remaining number of rows
Patient_data['sex'].value_counts()

1    207
0     96
Name: sex, dtype: int64

In [85]:
Patient_data['cp'].value_counts()

0    143
2     87
1     50
3     23
Name: cp, dtype: int64

In [86]:
Patient_data['fbs'].value_counts()

0    258
1     45
Name: fbs, dtype: int64

In [87]:
Patient_data['restecg'].value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

In [88]:
Patient_data['exang'].value_counts()

0    204
1     99
Name: exang, dtype: int64

In [89]:
Patient_data['slope'].value_counts()

2    142
1    140
0     21
Name: slope, dtype: int64

In [90]:
Patient_data['thal'].value_counts()

2    166
3    117
1     18
0      2
Name: thal, dtype: int64

In [91]:
Patient_data.replace({'sex':{'Male':0, 'Female':1}, 
                      'dataset':{'Cleveland':0, 'Hungary':1, 'VA Long Beach':2},
                      'cp':{'asymptomatic':0, 'non-anginal':1, 'atypical angina':2, 'typical angina':3}, 
                      'fbs':{'True':1, 'False':0},
                      'restecg':{'normal':0, 'lv hypertrophy':1, 'st-t abnormality':2}, 
                      'exang':{'False':0, 'True':1},
                      'slope':{'flat':0, 'upsloping':1, 'downsloping':2}, 
                      'thal':{'normal':0, 'reversable defect':1, 'fixed defect':2}}, inplace=True)

Patient_data.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [92]:
# Checking the statistics of the data
Patient_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [93]:
# Checking the target data with 1 and 0 representing defective and healthy hearts respectively
Patient_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [94]:
# Separating the features and target variable
X = Patient_data.drop(columns='target', axis=1)
Y = Patient_data['target']

In [95]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [96]:
# Splitting data into training and test data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [97]:
# Train the ML model
model = LogisticRegression()

model.fit(X_train, Y_train)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [99]:
# Model evaluation
Xtrain_pred = model.predict(X_train)
Training_accuracy = accuracy_score(Xtrain_pred, Y_train) * 100
print('The accuracy on training data is '+ str(Training_accuracy)+'%')

The accuracy on training data is 85.12396694214877%

In [100]:
# Model evaluation on test data
Y_pred = model.predict(X_test)
Test_accuracy = accuracy_score(Y_pred, Y_test) * 100
print('The accuracy on training data is '+ str(Test_accuracy)+'%')

The accuracy on training data is 81.9672131147541%

In [104]:
# Building a predictive system
input_data = (41,0,1,130,204,0,0,172,0,1.4,2,0,2)

# Change the input data to numpy array
input_data_np = np.asarray(input_data)

# Reshaping the numpy array to tell the model it is done for one data point
input_data_reshaped = input_data_np.reshape(1,-1)

input_pred = model.predict(input_data_reshaped)

print(input_pred)

if(input_pred[0]==0):
    print('The person has a healthy heart')
else:
    print('The person has a defective heart')

[1]
The person has a defective heart

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(